<div class="page-container">
  <app-bubble-menu></app-bubble-menu>

  <h2 class="page-title">🧺 Lista de Compras Semanal</h2>

  <div class="lista-container">

    <div *ngIf="cargando" class="loading">
      Generando lista de compras...
    </div>

    <ul class="lista" *ngIf="!cargando && lista.length">
      <li *ngFor="let item of lista">
        <input
  type="checkbox"
  [(ngModel)]="item.comprado"
  (change)="onToggleComprado(getUsuario().id_usuario)"
/>

        <span [class.comprado]="item.comprado">
          {{ item.nombre }} — {{ item.cantidad }} {{ item.unidad }}
        </span>
      </li>
    </ul>

    <p *ngIf="!cargando && !lista.length" class="empty">
      No hay recetas asignadas esta semana 🍽️
    </p>
  </div>
</div>
